.form-control {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    max-width: 220px;
  }
  