
  
  .contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .field-label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: black;
  }

  form{ 
    display: flex;
    justify-content: space-between;
  }

  .text-field{
    display: flex;
    flex-direction: column;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-movie{
    margin-top: 40px;
  }

  button {
    background-color: #5D92D5;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    
    cursor: pointer;
    color:black;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #2477b0;
  }
  